# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Test and coverage reports
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/

# IDE files
*.swp
*.swo
*.idea/
.vscode/

# Logs
*.log

# Environment variables
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Misc
.DS_Store
Thumbs.db